Pre-Data Processing.json
{
  "name": "Pre-Data Processing",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1SJgIx5SBsAwcWnGSAOZK92-D-W2g7zWj",
          "mode": "list",
          "cachedResultName": "Rag Knowledge base",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1SJgIx5SBsAwcWnGSAOZK92-D-W2g7zWj"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        -32
      ],
      "id": "c2e25ab2-f0ee-4fbf-a9e2-35aa4b02c154",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CFv8UsqiHTgZVCQT",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1rJZCIqL_Pk9BCC2bv-OJc8MBXYTlp2FW",
          "mode": "list",
          "cachedResultName": "Knowledge base.docx",
          "cachedResultUrl": "https://docs.google.com/document/d/1rJZCIqL_Pk9BCC2bv-OJc8MBXYTlp2FW/edit?usp=drivesdk&ouid=109975336403259128623&rtpof=true&sd=true"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -32,
        -32
      ],
      "id": "01a5cebb-052e-4d8f-bbcf-672c1e94d363",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CFv8UsqiHTgZVCQT",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragagent",
          "mode": "list",
          "cachedResultName": "ragagent"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        288,
        -32
      ],
      "id": "7e0d6cf1-61f2-4591-8c3c-fde7e1e1061e",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "QtnTebOoo8wR6NVF",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $('Download file').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        368,
        144
      ],
      "id": "dedcdacc-5bdb-4d28-9de9-bf7dbc1695f4",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        320,
        320
      ],
      "id": "114a9826-ff2e-44f7-a91a-53e89cb3c33c",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        176,
        160
      ],
      "id": "4984e21b-1012-42aa-9faf-bd14ce5f1808",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "KgWr21yfK6i9AHKI",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "fbd02194-cb5a-46df-b8c7-3d29cd56898f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5b61bb04affbd09f7450c59e7994c00b0f7e2d39ccc9e17ce9d4dc000a9f08f6"
  },
  "id": "6lxTETrsVf5QbmUR",
  "tags": []
}